{% extends 'base.html' %} {% block title %}Kanji Sheets{% endblock %} {% block content %}
<style>
	#id_kanjiInput::placeholder {
		padding: 0.5rem;
	}
	#id_columnasInput {
		text-align: center;
	}
</style>
<div class="mt-10">
	<form method="post">
		{% csrf_token %}
		<div class="flex flex-col justify-center content-center mb-5">
			<p class="self-start mb-3">Enter the hiragana/katakana/kanji you want to include in the sheet:</p>
			{{ form.kanjiInput }}
			<div class="my-2 mr-2"><label for="id_columnasInput">Columns: </label>{{form.columnasInput}}</div>
		</div>
		<button
			type="submit"
			class="mb-10 inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
		>
			Aceptar
		</button>
	</form>
</div>
{% endblock %}
