<!DOCTYPE html>
<html lang="en">
	<head>
		{% load %} {% load static %}
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
		<script src="https://cdn.tailwindcss.com/3.3.0"></script>
		<script>
			tailwind.config = {
				darkMode: 'class',
				theme: {
					fontFamily: {
						sans: ['Roboto', 'sans-serif'],
						body: ['Roboto', 'sans-serif'],
						mono: ['ui-monospace', 'monospace'],
					},
				},
				corePlugins: {
					preflight: false,
				},
			}
		</script>
		{% block head %} {% endblock %}
		<title>{% block title %}{% endblock %}</title>
	</head>

	<body class="flex flex-col">
		<header>
			<nav class="navbar">{% include 'partials/navbar.html' %}</nav>
		</header>

		<main class="grow w-2/3 m-auto" id="main">{% block content %} {% endblock %}</main>

		<footer id="footer">{% include 'partials/footer.html' %}</footer>

		<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
	</body>
</html>
